.achievement_info .banner-ach-2 {
    position: relative;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(36,139,212,0.66) 0%, rgba(48,179,74,0.79) 100%) !important;
}

.achievement_info .banner-ach-2::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background-image: url('/images/hand-cog.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    width: 100%;
    height: 100%;
}

.list-items li span.orange-span {
    color: #FF8F1F;
}

.h-10 {
    height: 200px;
}

.person-img-ach {
    max-width: 80px;
    height: 80px;
}