:root {
    --primary-bg-color: #F7F8FA;
    --primary-fonts: 'YouSheBiaoTiHei';
}

body {
    background-color: var(--primary-bg-color) !important;
}

.color-dark-arrow {
    filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(6086%) hue-rotate(209deg) brightness(95%) contrast(105%);
}



.technology-wrapper .header-wrapper-achievement {
    border-bottom: 1px solid #F7F8FA;
}

.banner-achievement {
    background-color: #11B264;
    background-image: url('/images/dim-search-img.png');
    background-repeat: no-repeat;
    background-position-x: 80%;
    background-size: 78%;
}

.search-bar input#search {
    padding-left: 50px;
}

.banner-achievement .img-search {
    max-width: 70px;
}


.btn-custom-group .active-btn::before {
    content: '';
    background-color: #11B264;
    height: 5px;
    width: 30px;
    border-radius: 12px;
    position: absolute;
    bottom: -10px;
    left: 46%;
    right: 0;
}

.btn-custom-group .active-btn {
    color: #11B264;
}

.border-btm-thin {
    border-bottom: 1px solid #F7F8FA;
}

.svg-search-icon {
    width: 24px;
    height: 24px;
}

.search_field button.btn {
    position: absolute;
    top: 5px;
}

.search_field input {
    background-color: #F2F3F5;
    padding: 12px;
    border-radius: 8px;
}

.space-img img {
    max-width: 170px;
}

img.post-img {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    height: 205px;
    object-fit: cover;
}

.post-description {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.post-item {
    margin-bottom: 10px;
}

.product-item {
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
}

.product-item .price {
    margin-top: 15px;
}

.product-item .price h4 {
    color: #F55726;
    margin-bottom: 0;
    font-weight: bolder;
}

.product-item .price span {
    color: #AAAAAA;
}


.card-item {
    position: relative;
    background-image: url('/images/card-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.048);
    border-radius: 12px;
}

.card-item::before {
    content: '';
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,255,255,1) 0%, rgba(255,255,255,0.7203475140056023) 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 11px;
}

.wrapper-card-description {
    z-index: 10;
    position: relative;
}

.wrapper-card-description span img {
    filter: brightness(0) saturate(100%) invert(50%) sepia(5%) saturate(11%) hue-rotate(330deg) brightness(90%) contrast(82%);
}

.wrapper-card-description p {
    color: #767676;
}


.banner-ach {
    background-image: url('/images/banner-ach.png');
    background-color: unset;
    background-size: cover;
    min-height: 200px;
    display: flex;
    align-items: center;
}

.person-img-ach {
    border-radius: 50%;
    max-width: 80px;
    height: 80px;
    object-fit: cover;
    border: 2px solid #fff;
}

.verify-img {
    width: 22px;
    height: 22px;
    object-fit: contain;
}

.verify-badge {
    padding: 6px 12px;
    background-color: rgb(0 0 0 / 30%);
    border-radius: 20px;
}

.plus-green-btn-wrapper {
    color: #11B264;
}

.carousel-indicators button.active {
    background-image: url('/images/pill.png');
    background-repeat: no-repeat;
    background-size: contain;

}

.plus-green-btn-wrapper div {
    padding: 6px 12px;
    background-color: #fff;
    border-radius: 4px;
    display: flex;
    gap: 5px;
    align-items: center;
}

.plus-green-btn-wrapper img {
    max-width: 20px;
    height: 20px;
    object-fit: contain;
}

.list-items li span:first-child {
    width: 82%;
}

.list-items li span:last-child {
    color: #86909C;
}

.list-items li {
    display: flex;
    padding: 15px;
    border-bottom: 1px solid #E5E6EB;
}

.btn-component-fixed-btm {
    bottom: 0;
}

.btn-primary {
    background: rgb(2, 0, 36);
    background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(0, 237, 122, 1) 0%, rgba(17, 178, 100, 1) 100%);
}

.achievement_info {
    background-color: #F7F8FA;
}

@media only screen and (max-width: 767px) {
    .card-item  {
        margin-bottom: 15px;
    }

    .wrapper-field input::placeholder {
        font-size: 12px;
    }
    .person-avatar {
        width: 100px;
        height: 100px;
    }

    

    .rec-carousel-wrapper {
        padding: 0 !important;
    }

    .product-item{
        margin: 0 3px;
    }
    .btn-custom-group button {

        padding: unset !important;

    }

    .post-description h3 {
        font-size: 15px;
    }

    .expert-title h3 {
        margin: 0;
        font-size: 15px !important;
        line-height: 1.7em;
    }

    .expertise li {
        font-size: 11px;
        line-height: 2em;
    }

    .btn-custom-group .active-btn::before {
        left: 20px !important;
        width: 30px !important;
    }

    .btn-group, .btn-group-vertical {
        padding: 0;
        gap: 12px;
    }

    .carousel-wrapper .carousel-item img {
        min-height: 330px;
        object-fit: cover;
    }

    .mobile-cs {
        top: 29% !important;
    }

    span.badge-orange-tb {
        width: 200px;
        justify-content: center;
    }

    .list-items li span:first-child {
        width: 50% !important;
    }

    span.badge-orange-tb {
        width: 80px;
    }

    .ach-lists li span:first-child {
        width: 35% !important;
    }

    .ach-lists li span:last-child {
        width: 75% !important;
    }

    .expert-item span {
        font-size: 13px;
    }

    .space-img img {
        max-width: 100px !important;
    }
    .post-img {
        height: 115px !important;
    }
}