.btm-min {
    margin-bottom: -64px;
    z-index: 10;
    position: relative;
    background-color: #ffffff14;
}

.carousel-caption {
    top: 40%;
}

@media only screen and (max-width: 767px) {
    


.carousel-indicators button {
    border-radius: 50% !important;
    width: 10px !important;
    height: 10px !important;
}

.carousel-caption {
    top: 38%;
    left: 5% !important;
}

.carousel-caption p {
    font-size: 20px !important;
}

.agriculture .carousel-caption {
    text-align: start;
}

.agriculture .iconbox-img {
    display: inline-flex;
    background-color: #11B264;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    align-items: center;
    justify-content: center;
}

.agriculture .iconbox-img img {
    max-width: 40px;
    max-height: 40px;
}

.carousel-indicators {
    margin-bottom: 5px;
}

}