.color-dark-arrow img {
    filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(6086%) hue-rotate(209deg) brightness(95%) contrast(105%);
}



.list-items li span:first-child {
    width: 30%;
}

.list-items li span:last-child {
    color: #86909C;
    font-size: 14px;
    width: 70%;
}

.list-items li {
    display: flex;
    padding: 15px 10px;
    border-bottom: 1px solid #E5E6EB;
}